<mat-sidenav-container class="normative-content">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened">
    <div class="logoHolder">
      <img src="assets/images/logo.png" />
    </div>
    <button mat-button type="button" *ngFor="let route of routes" (click)="navigateToPage(route.route)">{{route.title}}</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (navToggle)="toggleDrawer($event)"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
  