<footer class="page-footer font-small indigo darken-3 sectorsFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-4">
        <div class=" flex-center">
          <a *ngFor="let item of icons" [class]="item.cssClass">
            <mdb-icon fab [icon]="item.icon" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://normative.io/"> normative.io</a>
  </div>
</footer>
