<div class="pageMainHolder">
  <div class="tableTopActions">
    <div class="container">
      <app-table-filter (tableFilter)="tableFilter($event)" (filterOpened)="filterOpened($event)"></app-table-filter>
      <button class="reverseAlign" mat-flat-button (click)="checkOpenDialog()" [matTooltip]="'AddNewItem' | translate"
        matTooltipClass="normativeTooltip" [matTooltipPosition]="position.value" [hidden]="filterIsOpen">
        <mat-icon>add_circle_outline</mat-icon>
        <mat-label>{{'AddItem' | translate}}</mat-label>
      </button>
      <button class="reverseAlign" mat-flat-button (click)="excportToExcel()"
        [matTooltip]="'ExportToExcelTooltip' | translate" matTooltipClass="normativeTooltip"
        [matTooltipPosition]="position.value" [hidden]="filterIsOpen">
        <mat-icon>file_download</mat-icon>
        <mat-label>{{'ExportToExcel' | translate}}</mat-label>
      </button>
      <div class="paginator">
        <app-table-paginator [length]="length" [pageSize]="pageSize" (paginationChanged)="paginationChanged($event)">
        </app-table-paginator>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="contentHolder">
        <app-table-grid (editItem)="editItem($event)" (deleteItem)="deleteItem($event)" (gridReady)="updatePaginator()">
        </app-table-grid>
      </div>
    </div>
  </div>
</div>

<ng-template #addItemDialog>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="leftSide">
          <h1 matDialogTitle>{{(!editMode ? 'AddNewItem' : 'EditItem') | translate}}</h1>
          <div class="dialog-actions">
            <button mat-flat-button type="submit" [disabled]="!addItemForm.valid" class="submitPopup"
              (click)="!editMode ? submitAddItem(): submitEditItem()"
              [matTooltip]="!editMode ? 'Confirm adding a new item' : 'Confirm saving the changes'"
              matTooltipClass="normativeTooltip"
              [matTooltipPosition]="position.value">{{(!editMode ? 'Add' : 'SaveChanges') | translate}}</button>
            <button mat-button matDialogClose="no" type="button" class="cancelPopup"
              [matTooltip]="!editMode ? 'Cancel adding a new item' : 'Cancel saving the changes'"
              matTooltipClass="normativeTooltip" [matTooltipPosition]="position.value">Cancel</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 removePaddingRight">
        <div class="rightSide">
          <button mat-flat-button class="closePopup" matDialogClose="no" type="button">
            <mat-icon>close</mat-icon>
          </button>
          <form [formGroup]="addItemForm" class="addItemForm" (ngSubmit)="submitAddItem()">

            <app-input-dropdown [childControl]="addItemForm.get('sector')" [label]="'Name'" [dropdownItems]="sectors">
            </app-input-dropdown>

            <app-input-number [childControl]="addItemForm.get('co2')" [label]="'Co2'"></app-input-number>

            <app-input-text [childControl]="addItemForm.get('feeling')" [label]="'Emoji'" [readonly]="true"
              (emojiList)="showEmojiList()"></app-input-text>

            <div class="filterEmoji" *ngIf="isEmojiPickerVisible">
              <app-emojis-tab (emojiSelected)="addEmoji($event)" (closeTab)="isEmojiPickerVisible = false">
              </app-emojis-tab>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteDialog>
  <div class="deletePopup">
    <h1 matDialogTitle>{{'DeleteMessage' | translate}} ?</h1>
    <p class="sectorNamePopup">{{sectorNameToDelete}}</p>
    <div class="dialog-actions">
      <button mat-button matDialogClose="no" type="button" class="cancelDeletePopup">{{'Cancel' | translate}}</button>
      <button mat-flat-button type="submit" class="submitDeletePopup"
        matDialogClose="yes">{{'Delete' | translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #cannotAddDialog>
  <div class="deletePopup">
    <h1 matDialogTitle>{{'NoMoreSectorsMessage' | translate}}.</h1>
    <div class="dialog-actions">
      <button mat-button matDialogClose="no" type="button" class="cancelDeletePopup">{{'Close' | translate}}</button>
    </div>
  </div>
</ng-template>
