<button mat-flat-button (click)="toggleShowSearch()" *ngIf="!showSearch">
  <mat-icon>manage_search</mat-icon>
  <mat-label>Search</mat-label>
</button>
<form [formGroup]="filterForm" class="filterForm" [hidden]="!showSearch" (ngSubmit)="submitFilter()">
  <mat-form-field class="filterField" appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput formControlName="filterField" #filterField>
    <button matSuffix mat-icon-button (click)="showFilterEmojiList()" type="button" class="emojiButton"
      matTooltip="Open Emoji tab" matTooltipClass="normativeTooltip" [matTooltipPosition]="position.value">
      <mat-icon>🙂</mat-icon>
    </button>
    <button matSuffix mat-icon-button (click)="clearFilter()" type="button" matTooltip="Cancel filter"
      matTooltipClass="normativeTooltip" [matTooltipPosition]="position.value">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="!filterForm.valid" matTooltip="Apply filter"
    matTooltipClass="normativeTooltip" [matTooltipPosition]="position.value">Search</button>
</form>
<div class="filterEmoji" *ngIf="isFilterEmojiPickerVisible">
  <app-emojis-tab (emojiSelected)="addFilterEmoji($event)" (closeTab)="isFilterEmojiPickerVisible = false"></app-emojis-tab>
</div>